# Assignment

Link for Datasets
(https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

Q21. Write a pandas program to import three datasheets from a given
excel data (coalpublic2013.xlsx ) in to a single dataframe.
 
Note: Structure of three datasheets are same.

In [4]:
import pandas as pd 
import numpy as np 
df1 = pd.read_excel('C:/Users/User/Downloads/employee.xlsx',sheet_name=0)
df2 = pd.read_excel('C:/Users/User/Downloads/employee.xlsx',sheet_name=1) 
df3 = pd.read_excel('C:/Users/User/Downloads/employee.xlsx',sheet_name=2) 
df = pd.concat([df1, df2, df3]) 
print(df)

    emp_id   first_name    last_name  hire_date
0      100       Steven         King 2003-06-17
1      101        Neena      Kochhar 2005-09-21
2      102          Lex      De Haan 2001-01-13
3      103    Alexander       Hunold 2006-01-03
4      104        Bruce        Ernst 2007-05-21
5      105        David       Austin 2005-06-25
6      106        Valli    Pataballa 2006-02-05
7      107        Diana      Lorentz 2007-02-07
8      108        Nancy    Greenberg 2002-08-17
9      109       Daniel       Faviet 2002-08-16
10     110         John         Chen 2005-09-28
11     111       Ismael      Sciarra 2005-09-30
12     112  Jose Manuel        Urman 2006-03-07
13     113         Luis         Popp 2007-12-07
14     114          Den     Raphaely 2002-12-07
15     115    Alexander         Khoo 2003-05-18
16     116       Shelli        Baida 2005-12-24
17     117        Sigal       Tobias 2005-07-24
18     118          Guy       Himuro 2006-11-15
19     119        Karen   Colmenares 2007-08-10
0      120      Matthew        Weiss 2004-07-18
1      121         Adam        Fripp 2005-04-10
2      122        Payam     Kaufling 2003-05-01
3      123       Shanta      Vollman 2005-10-10
4      124        Kevin      Mourgos 2007-11-16
5      125        Julia        Nayer 2005-07-16
6      126        Irene  Mikkilineni 2006-09-28
7      127        James       Landry 2007-01-14
8      128       Steven       Markle 2008-03-08
9      129        Laura       Bissot 2005-08-20
10     130        Mozhe     Atkinson 2005-10-30
11     131        James       Marlow 2005-02-16
12     132           TJ        Olson 2007-04-10
13     133        Jason       Mallin 2004-06-14
14     134      Michael       Rogers 2006-08-26
15     135           Ki          Gee 2007-12-12
16     136        Hazel   Philtanker 2008-02-06
17     137       Renske       Ladwig 2003-07-14
18     138      Stephen       Stiles 2005-10-26
0      141       Trenna         Rajs 2003-10-17
1      142       Curtis       Davies 2005-01-29
2      143      Randall        Matos 2006-03-15
3      144        Peter       Vargas 2006-07-09
4      145         John      Russell 2004-10-01
5      146        Karen     Partners 2005-01-05
6      147      Alberto    Errazuriz 2005-03-10
7      148       Gerald    Cambrault 2007-10-15
8      149        Eleni      Zlotkey 2008-01-29

Q 22. Write a pandas program to import three datasheets from a given
excel data (employee.xlsx ) into a single data frame and export the
result into new Excel file.
 
Note: Structure of three datasheets are same.

In [7]:
import pandas as pd 
import numpy as np 
df1 = pd.read_excel('C:/Users/User/Downloads/employee.xlsx',sheet_name=1) 
df3 = pd.read_excel('C:/Users/User/Downloads/employee.xlsx',sheet_name=2) 
df = pd.concat([df1, df2, df3]) 
df.to_excel('C:/Users/User/Downloads/output.xlsx', index=False)

Q23. Write a pandas program to create the Pivot table with multiple
indexes from the data set of the titanic.csv.

In [8]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
result = pd.pivot_table(df, index = ["sex","age"], aggfunc=np.sum) 
print(result)

              Unnamed: 15  adult_male  alone      fare  parch  pclass  sibsp  \
sex    age
female 0.75           0.0         0.0    0.0   38.5166      2       6      4
       1.00           0.0         0.0    0.0   26.8750      3       6      1
       2.00           0.0         0.0    0.0  259.4750      9      15      9
       3.00           0.0         0.0    0.0   62.6542      3       5      4
       4.00           0.0         0.0    0.0  114.1417      6      13      4
...                   ...         ...    ...       ...    ...     ...    ...
male   70.00          0.0         2.0    1.0   81.5000      1       3      1
       70.50          0.0         1.0    1.0    7.7500      0       3      0
       71.00          0.0         2.0    2.0   84.1584      0       2      0
       74.00          0.0         1.0    1.0    7.7750      0       3      0
       80.00          0.0         1.0    1.0   30.0000      0       1      0

              survived
sex    age
female 0.75          2
       1.00          2
       2.00          2
       3.00          1
       4.00          5
...                ...
male   70.00         0
       70.50         0
       71.00         0
       74.00         0
       80.00         1

[145 rows x 8 columns]

Q24. Write a Pandas program to create the Pivot table and find survival
rate by gender?

In [10]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
result=df.groupby('sex')[['survived']].mean() 
print(result)

        survived
sex
female  0.742038
male    0.188908

Q25. Write a pandas program to make partition each of the passengers
into 4 categories based on their age.
 
Note: Age categories- (0, 10), (10, 30), (30, 60), (60, 80)

In [11]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
result = pd.cut(df['age'], [0, 10, 30, 60, 80]) 
print(result)

0      (10.0, 30.0]
1      (30.0, 60.0]
2      (10.0, 30.0]
3      (30.0, 60.0]
4      (30.0, 60.0]
           ...
886    (10.0, 30.0]
887    (10.0, 30.0]
888             NaN
889    (10.0, 30.0]
890    (30.0, 60.0]
Name: age, Length: 891, dtype: category
Categories (4, interval[int64]): [(0, 10] < (10, 30] < (30, 60] < (60, 80]]

Q26. Write a pandas program to create the Pivot table and find survival
rate by the gender, age of the different categories of various
classes.

In [12]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
age = pd.cut(df['age'], [0, 20, 55]) 
result = df.pivot_table('survived', index=['sex', age], columns='class') 
print(result)

class               First    Second     Third
sex    age
female (0, 20]   0.928571  1.000000  0.510638
       (20, 55]  0.968750  0.912281  0.407407
male   (0, 20]   0.571429  0.526316  0.197368
       (20, 55]  0.440000  0.054054  0.134503

Q27. Write a pandas program to create the Pivot table and calculate
number of women and men were in a particular cabin class.

In [13]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
result = df.pivot_table(index=['sex'], columns=['pclass'], aggfunc='count') 
print(result)

       Unnamed: 15       adult_male            age          alive  ... parch  \
pclass           1  2  3          1    2    3    1   2    3     1  ...     3
sex                                                                ...
female           0  0  0         94   76  144   85  74  102    94  ...   144
male             0  0  0        122  108  347  101  99  253   122  ...   347

       sibsp           survived            who
pclass     1    2    3        1    2    3    1    2    3
sex
female    94   76  144       94   76  144   94   76  144
male     122  108  347      122  108  347  122  108  347

[2 rows x 42 columns]

Q28. Write a pandas program to create the Pivot table and separate
the gender according to whether they travelled alone or not to get
the probability of survival

In [14]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
result = df.pivot_table( 'survived' , [ 'sex' , 'alone' ] , 'class' ) 
print(result)

class            First    Second     Third
sex    alone
female False  0.966667  0.931818  0.416667
       True   0.970588  0.906250  0.616667
male   False  0.425532  0.277778  0.180723
       True   0.333333  0.097222  0.121212

Q29. Write a pandas program to create the Pivot table and find the
probability of survival by class, gender, solo boarding, and the port
of embarkation.

In [16]:
import pandas as pd 
import numpy as np 
 
df = pd.read_csv('C:/Users/User/Downloads/titanic.csv') 
result = df.pivot_table('survived', ['sex' , 'alone' ], [ 'embark_town', 'class' ]) 
print(result)

embark_town  Cherbourg                     Queenstown                   \
class            First    Second     Third      First Second     Third
sex    alone
female False  1.000000  1.000000  0.611111        1.0    NaN  0.625000
       True   0.944444  1.000000  0.800000        NaN    1.0  0.760000
male   False  0.473684  0.166667  0.500000        0.0    NaN  0.100000
       True   0.347826  0.250000  0.151515        NaN    0.0  0.068966

embark_town  Southampton
class              First    Second     Third
sex    alone
female False    0.941176  0.923077  0.327586
       True     1.000000  0.892857  0.466667
male   False    0.407407  0.300000  0.142857
       True     0.326923  0.089552  0.123762

Q30. Write a pandas program to get current date, oldest date and
number of days between Current date and the oldest date of Ufo
dataset.

# This line in every code is giving error or there is some problem with the ufo_sighting_data.csv file:

df['Date_time'] = df['Date_time'].astype('datetime64[ns]')

In [39]:

import pandas as pd 
df = pd.read_csv(r'C:/Users/User/Downloads/ufo_sighting_data.csv') 
#df['Date_time'] = df['Date_time'].astype('datetime64[ns]') 
print("Original Dataframe:") 
print(df.head()) 
print("\nCurrent date of Ufo dataset:") 
print(df.Date_time.max()) 
print("\nOldest date of Ufo dataset:") 
print(df.Date_time.min()) 
print("\nNumber of days between Current date and oldest date of Ufo dataset:") 
print((df.Date_time.max() - df.Date_time.min()).days)

Original Dataframe:
          Date_time                  city state/province country UFO_shape  \
0  10-10-1949 20:30            san marcos             tx      us  cylinder
1  10-10-1949 21:00          lackland afb             tx     NaN     light
2  10-10-1955 17:00  chester (uk/england)            NaN      gb    circle
3  10-10-1956 21:00                  edna             tx      us    circle
4  10-10-1960 20:00               kaneohe             hi      us     light

  length_of_encounter_seconds described_duration_of_encounter  \
0                        2700                      45 minutes
1                        7200                         1-2 hrs
2                          20                      20 seconds
3                          20                        1/2 hour
4                         900                      15 minutes

                                         description date_documented  \
0  This event took place in early fall around 194...       4/27/2004
1  1949 Lackland AFB&#44 TX.  Lights racing acros...      12/16/2005
2  Green/Orange circular disc over Chester&#44 En...       1/21/2008
3  My older brother and twin sister were leaving ...       1/17/2004
4  AS a Marine 1st Lt. flying an FJ4B fighter/att...       1/22/2004

     latitude   longitude
0  29.8830556  -97.941111
1    29.38421  -98.581082
2        53.2   -2.916667
3  28.9783333  -96.645833
4  21.4180556 -157.803611

Current date of Ufo dataset:
9/30/2013 22:30

Oldest date of Ufo dataset:
01-01-1944 12:00

Number of days between Current date and oldest date of Ufo dataset:

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Q31. Write a pandas program to get all sighting days of the
unidentified flying object (ufo) between 1950-10-10 and 1960-10-
10.

In [38]:
import pandas as pd 
df = pd.read_csv(r'C:/Users/User/Downloads/ufo_sighting_data.csv')
#df['Date_time'] = df['Date_time'].astype('datetime64[ns]') 
print("Original Dataframe:") 
print(df.head()) 
print("\nSighting days of the unidentified flying object (ufo) between 1949-10-10 and 1960-10-10:")
selected_period = df[(df['Date_time'] >= '1950-01-01 00:00:00') & (df['Date_time'] <= '1960-12-31 23:59:59')] 
print(selected_period)

Original Dataframe:
          Date_time                  city state/province country UFO_shape  \
0  10-10-1949 20:30            san marcos             tx      us  cylinder
1  10-10-1949 21:00          lackland afb             tx     NaN     light
2  10-10-1955 17:00  chester (uk/england)            NaN      gb    circle
3  10-10-1956 21:00                  edna             tx      us    circle
4  10-10-1960 20:00               kaneohe             hi      us     light

  length_of_encounter_seconds described_duration_of_encounter  \
0                        2700                      45 minutes
1                        7200                         1-2 hrs
2                          20                      20 seconds
3                          20                        1/2 hour
4                         900                      15 minutes

                                         description date_documented  \
0  This event took place in early fall around 194...       4/27/2004
1  1949 Lackland AFB&#44 TX.  Lights racing acros...      12/16/2005
2  Green/Orange circular disc over Chester&#44 En...       1/21/2008
3  My older brother and twin sister were leaving ...       1/17/2004
4  AS a Marine 1st Lt. flying an FJ4B fighter/att...       1/22/2004

     latitude   longitude
0  29.8830556  -97.941111
1    29.38421  -98.581082
2        53.2   -2.916667
3  28.9783333  -96.645833
4  21.4180556 -157.803611

Sighting days of the unidentified flying object (ufo) between 1949-10-10 and 1960-10-10:
Empty DataFrame
Columns: [Date_time, city, state/province, country, UFO_shape, length_of_encounter_seconds, described_duration_of_encounter, description, date_documented, latitude, longitude]
Index: []

Q32. Write a Pandas program to extract the year, month, day, hour,
minute, second, and weekday from unidentified flying object (UFO)
reporting date.

Q33. Write a pandas program to count year-country wise frequency of
reporting dates of the unidentified flying object(UFO).

Q34. Write a pandas program to get the difference (in days) between
documented date and reporting date of unidentified flying object
(UFO).

Q35. Write a pandas program to generate sequences of fixedfrequency dates and time spans.

In [18]:
import pandas as pd 
 
dtr = pd.date_range('2018-01-01', periods=12, freq='H') 
print("Hourly frequency:") 
print(dtr) 
dtr = pd.date_range('2018-01-01', periods=12, freq='min') 
print("\nMinutely frequency:")
print(dtr)
dtr = pd.date_range('2018-01-01', periods=12, freq='S')
print("\nSecondly frequency:")
print(dtr) 
dtr = pd.date_range('2018-01-01', periods=12, freq='2H')
print("nMultiple Hourly frequency:") 
print(dtr) 
dtr = pd.date_range('2018-01-01', periods=12, freq='5min') 
print("\nMultiple Minutely frequency:") 
print(dtr)
dtr = pd.date_range('2018-01-01', periods=12, freq='BQ') 
print("\nMultiple Secondly frequency:") 
print(dtr) 
dtr = pd.date_range('2018-01-01', periods=12, freq='w')
print("\nWeekly frequency:") 
print(dtr)
dtr = pd.date_range('2018-01-01', periods=12, freq='2h20min') 
print("\nCombine together day and intraday offsets-1:")
print(dtr) 
dtr = pd.date_range('2018-01-01', periods=12, freq='1D10U') 
print("\nCombine together day and intraday offsets-2:") 
print(dtr)

Hourly frequency:
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00'],
              dtype='datetime64[ns]', freq='H')

Minutely frequency:
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:01:00',
               '2018-01-01 00:02:00', '2018-01-01 00:03:00',
               '2018-01-01 00:04:00', '2018-01-01 00:05:00',
               '2018-01-01 00:06:00', '2018-01-01 00:07:00',
               '2018-01-01 00:08:00', '2018-01-01 00:09:00',
               '2018-01-01 00:10:00', '2018-01-01 00:11:00'],
              dtype='datetime64[ns]', freq='T')

Secondly frequency:
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:00:01',
               '2018-01-01 00:00:02', '2018-01-01 00:00:03',
               '2018-01-01 00:00:04', '2018-01-01 00:00:05',
               '2018-01-01 00:00:06', '2018-01-01 00:00:07',
               '2018-01-01 00:00:08', '2018-01-01 00:00:09',
               '2018-01-01 00:00:10', '2018-01-01 00:00:11'],
              dtype='datetime64[ns]', freq='S')
nMultiple Hourly frequency:
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 02:00:00',
               '2018-01-01 04:00:00', '2018-01-01 06:00:00',
               '2018-01-01 08:00:00', '2018-01-01 10:00:00',
               '2018-01-01 12:00:00', '2018-01-01 14:00:00',
               '2018-01-01 16:00:00', '2018-01-01 18:00:00',
               '2018-01-01 20:00:00', '2018-01-01 22:00:00'],
              dtype='datetime64[ns]', freq='2H')

Multiple Minutely frequency:
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:05:00',
               '2018-01-01 00:10:00', '2018-01-01 00:15:00',
               '2018-01-01 00:20:00', '2018-01-01 00:25:00',
               '2018-01-01 00:30:00', '2018-01-01 00:35:00',
               '2018-01-01 00:40:00', '2018-01-01 00:45:00',
               '2018-01-01 00:50:00', '2018-01-01 00:55:00'],
              dtype='datetime64[ns]', freq='5T')

Multiple Secondly frequency:
DatetimeIndex(['2018-03-30', '2018-06-29', '2018-09-28', '2018-12-31',
               '2019-03-29', '2019-06-28', '2019-09-30', '2019-12-31',
               '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='BQ-DEC')

Weekly frequency:
DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25'],
              dtype='datetime64[ns]', freq='W-SUN')

Combine together day and intraday offsets-1:
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 02:20:00',
               '2018-01-01 04:40:00', '2018-01-01 07:00:00',
               '2018-01-01 09:20:00', '2018-01-01 11:40:00',
               '2018-01-01 14:00:00', '2018-01-01 16:20:00',
               '2018-01-01 18:40:00', '2018-01-01 21:00:00',
               '2018-01-01 23:20:00', '2018-01-02 01:40:00'],
              dtype='datetime64[ns]', freq='140T')

Combine together day and intraday offsets-2:
DatetimeIndex([       '2018-01-01 00:00:00', '2018-01-02 00:00:00.000010',
               '2018-01-03 00:00:00.000020', '2018-01-04 00:00:00.000030',
               '2018-01-05 00:00:00.000040', '2018-01-06 00:00:00.000050',
               '2018-01-07 00:00:00.000060', '2018-01-08 00:00:00.000070',
               '2018-01-09 00:00:00.000080', '2018-01-10 00:00:00.000090',
               '2018-01-11 00:00:00.000100', '2018-01-12 00:00:00.000110'],
              dtype='datetime64[ns]', freq='86400000010U')

Q36. Write a pandas program to manipulate and convert date times
with timezone information.

In [19]:
import pandas as pd 
dtt = pd.date_range('2018-01-01', periods=3, freq='H')
dtt = dtt.tz_localize('UTC') 
print(dtt)
print("\nFrom UTC to America/Los_Angeles:") 
dtt = dtt.tz_convert('America/Los_Angeles') 
print(dtt)

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

From UTC to America/Los_Angeles:
DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, America/Los_Angeles]', freq='H')

Q37. Write a pandas program to create the graphical analysis of UFO
(unidentified flying object) Sightings year.

Q38. Write a pandas program to create a comparison of the top 10
years in which the (UFO) was sighted VS each Month.

Q39. Write a pandas program to create a heatmap (rectangular data as
a colour-encoded matrix) for comparison of top 10 years in
which (UFO ) was sighted VS each Month.

Q40. Write a pandas program to create a Timewheel of Hour VS Year
comparison of the top 10 years in which the (UFO) was sighted

## Great Job!